
/*This is outside of the scope of the first assignment, but I thought I would experiment with responsive design anyway.*/
@media screen and (max-width: 600px) {
    .heading-container {
        text-align: center;
        width: 90%;
        margin: auto;
        float: none;
        padding: 5px;
    }

    nav {
        float: none;
        padding: 5px;
    }

    .profile, .portfolio-img {
        float: none;
        width: 90%;
        display: block;
        margin: auto;
        padding: 10px;
    }

    .img-container {
        display: block;
    }

    section, hr, form {
        width: 90%;
    }

    h2 {
        text-align: center;
    }

}