@media screen and (max-width: 640px) {
    .heading-container {
        margin: 0px;
    }
    .heading-container h1, nav {
        text-align: center;
        width: 100vw;
        float: none;
        padding: 10px;
    }

    .profile, .portfolio-img {
        float: none;
        width: 90%;
        display: block;
        margin: auto;
        padding: 10px;
    }

    .img-container {
        display: block;
    }

    section, hr, form {
        width: 90%;
    }

    h2 {
        text-align: center;
    }
}

@media screen and (min-width: 980px) {
    nav {
        position: absolute;
        top: 0px;
        left: 685px;
    }

    section {
        max-width: 550px;
        margin-left: 10%;
    }

    .heading-container {
        max-width: none;
    }

    li {
        padding: 0px 20px 0px 20px;
    }
}


