html, body {
    height: 100%;
}

/* Background pattern from Toptal Subtle Patterns */
body {
    background-image: url("../images/starring.png");
    display: flex;
    flex-direction: column;

}

header {
    background-color: ivory;
    border-bottom: 3px solid #777777;
    margin-bottom: 20px;
}

a:link {
    color: #777777;
    text-decoration: none;
}

a:visited { color: #666666;}

a:hover {
    color: black;
    text-decoration: underline;
}

h1 {
    display: inline-block;
    padding: 20px 20px;
    color: ivory;
    background-color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
}

h2 {
    padding: 20px 20px;
    color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
}

h3 {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 20px;
    padding: 10px 0px 10px 0px;
    font-size: 18pt;
    bottom: 20%;
    background-color: #4aaaa5;
    color: ivory;
}

.img-container {  
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.img-container:hover h3{
    border: 5px #666666 solid;
    margin-left: 15px;
}

p { padding: 20px 20px;}

li { display: inline;}

nav {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 35px;
}

.heading-container {
    margin: auto;
    width: 80%;
    max-width: 960px;
}

.flex-container { flex: 1 0 auto;}

section {
    background-color: ivory;
    width: 80%;
    max-width: 960px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 1.5;
    overflow: auto; 
}

hr, form {
    width: 95%;
    margin: auto;
}

textarea, input { width: 100%;}

textarea { height: 100px;}

input[type=submit] {
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: ivory;
    width: 100px;
    padding: 10px;
    margin-bottom: 5%;
}

img {
    float: left;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px 20px;
}

.social {
    max-width: 32px;
    height: auto;
    float: none;
    padding: 10px;
}

figure{
    display: inline-block;
}

figcaption {
    display: inline-block;
    position: relative;
    bottom: 20px;
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    background-color: #666666;
    border-top: 3px solid #4aaaa5;
    text-align: center;
    margin-top: 20px;
    flex-shrink: 0;
}